In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [2]:
df1 = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [3]:
target = df1.Survived
inputs = df1.drop(['Survived'],axis='columns')

In [4]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female   male
0   False   True
1    True  False
2   False   True
3   False   True
4    True  False

In [5]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female   male
0       3    male  34.5   7.8292   False   True
1       3  female  47.0   7.0000    True  False
2       2    male  62.0   9.6875   False   True
3       3    male  27.0   8.6625   False   True
4       3  female  22.0  12.2875    True  False

In [6]:
inputs.drop(['Sex'],axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  female   male
0       3  34.5   7.8292   False   True
1       3  47.0   7.0000    True  False
2       2  62.0   9.6875   False   True
3       3  27.0   8.6625   False   True
4       3  22.0  12.2875    True  False

In [7]:
inputs.columns[inputs.isna().any()]

Index(['Age', 'Fare'], dtype='object')

In [8]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.Fare = inputs.Fare.fillna(inputs.Fare.mean())
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(inputs,target,test_size=0.2)

In [10]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [11]:
model.fit(x_train,y_train)

GaussianNB()

In [12]:
model.score(x_test,y_test)

1.0

In [13]:
x_train

     Pclass       Age     Fare  female   male
262       2  29.00000  23.0000    True  False
186       2  21.00000  21.0000    True  False
381       3  26.00000   7.8792   False   True
305       1  64.00000  26.5500    True  False
213       2  60.00000  26.0000    True  False
..      ...       ...      ...     ...    ...
42        3  41.00000   7.8500   False   True
271       3  30.27259   7.7500   False   True
54        2  30.27259  15.5792   False   True
87        3  18.00000   8.0500    True  False
285       3  36.00000   7.2500   False   True

[334 rows x 5 columns]

In [14]:
model.predict([[1,30,60,1,0]])

C:\Users\Surya Teja\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [19]:
from sklearn.preprocessing import LabelEncoder
sex_n = LabelEncoder()

In [43]:
df1['sex_n'] = sex_n.fit_transform(df1['Sex'])
df2 = df1.drop('Sex',axis='columns')

In [44]:
x = df2.drop('Survived',axis='columns')
y = df2['Survived']
x

     Pclass   Age      Fare  sex_n
0         3  34.5    7.8292      1
1         3  47.0    7.0000      0
2         2  62.0    9.6875      1
3         3  27.0    8.6625      1
4         3  22.0   12.2875      0
..      ...   ...       ...    ...
413       3   NaN    8.0500      1
414       1  39.0  108.9000      0
415       3  38.5    7.2500      1
416       3   NaN    8.0500      1
417       3   NaN   22.3583      1

[418 rows x 4 columns]

In [45]:
from sklearn import tree

In [46]:
model = tree.DecisionTreeClassifier()

In [47]:
model.fit(x,y)

DecisionTreeClassifier()

In [48]:
model.predict([[1,30,60,0]])

C:\Users\Surya Teja\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)